
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;600&display=swap');

.homepage-container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.slogan-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.slogan-subtext {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 3rem;
}